body {
   font-family: var(--fonte-principal);
   background-color: #1f1f1f1f;
   color:#333333;
}

main {
   max-width: 1360px;
   margin: 0 auto;;
   padding: 2.5rem 0 0;
}

.btn {
	border-radius: 30px;
	padding: 10px 40px;
	height: 48px;
   font-weight: 500;
	font-size: 20px;
   color: #ffffff;
}