body {
   font-family: var(--fonte-principal);
   background-color: #ffffff;
   color:#333333;
}

main {
   max-width: 1360px;
   margin: 0 auto;
   padding: 2.5rem 0 0;
}
@media (max-width: 1280px) {
   main {
      padding: 0.625rem ;
   }
}


.btn {
	border-radius: 30px;
	padding: 10px 40px;
	height: 48px;
   font-weight: 500;
	font-size: 20px;
   color: #ffffff;
}

.card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.footer-color-title-sections {
   color: #9f9f9f;
   font-weight: 600;
}