.categories {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1.25rem;
	margin-bottom: 2.5rem;
}

.product-card {
	width: 19.8125rem;
	height: 31.25rem;
	margin-top: 2.5rem;
	border-radius: 1.25rem;
	overflow: hidden;
	position: relative;
}

.overlay {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.25);
}

.product-name {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.casual {
	background: url(../../images/products/casual.jpg) no-repeat center;
	background-size: cover;
}

.esporte {
	background: url(../../images/products/esporte.jpg) no-repeat center;
	background-size: cover;
}

.moderno {
	background: url(../../images/products/moderno.jpg) no-repeat center;
	background-size: cover;
}

.futurista {
	background: url(../../images/products/futurista.jpg) no-repeat center;
	background-size: cover;
}

@media (max-width: 1330px) {
	.product-card {
		width: 300px;
		height: 500px;
	}
}
@media (max-width: 1280px) {
	.product-card {
		width: 450px;
		height: 500px;
	}
}

@media (max-width: 769px) {
	.categories {
		gap: 0px;
	}

	.product-card {
		width: 100%;
		height: 500px;
	}
}