.footer {
	background-color: #333333;
	padding: 0 40px;
	color: #ffffff;
}
.footer-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px;
}
.left-footer {
	display: flex;
	flex-direction: column;
	gap:30px;
}
.email-section h2 {
	font-size: 16px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1.25px;
}
.email-section .email-input {
	width: 344px;
	height: 44px;
	background-color: #FFFFFF;
	border: solid 1px #DDDDDD;
	border-radius: 30px;
	padding-left: 20px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 1.25px;
}
.social-section {
	display: flex;
	flex-direction: column;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 1.25px;
	gap: 16px;
}

.social-media {
	display: flex;
	gap: 20px;
}
.social-button:hover {
	opacity: 0.7;
}

.right-footer {
	display: flex;
	flex-direction: row;
	gap:20px;
}
.sections {
	display: flex;
	flex-direction: column;
	gap: 16px;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 1.25px;
	color: #FFFFFF;
}
.sections a {
	transition: color 0.2s ease-in-out;
}
.sections a:hover {
	color:#7c3aed;
}

.copyright {
	display: flex;
	justify-content: center;
	padding: 20px 0;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 1.5px;
	border-top: solid 1px #FFFFFF;
}