.header {
	background-color: #ffffff;
	position: fixed;
	top: 60px;
	right: 50%;
	width: calc(100% - 120px);
	transform: translateX(50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 999;
	padding: 12px 20px;
	border-radius: 20px;
}

.logo img {
	height: 48px;
	width: 150px;
}

.right-nav {
	display: flex;
	justify-content: space-between;
	gap: 40px;
}

.right-nav .icons-nav a {
	display: flex;
	align-items: center;
}

.center-nav ul,
.right-nav ul {
	display: flex;
	gap: 2.5rem;
}

.center-nav ul li a,
.right-nav ul li a {
	font-size: 1.25rem;
	font-weight: 400;
	justify-content: center;
}

.center-nav ul li:hover a,
.right-nav ul li:hover a {
	color: #7c3aed;
}

.right-nav ul {
	align-items: center;
}

.right-nav img {
	height: 1.5rem;
	gap: 2.5rem;
	;
}

.right-nav a:hover img {
	opacity: 0.7;
}

.nav-container {
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
}

.menu-toggle {
	display: none;

}

.menu-icon {
	display: none;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.menu-icon img {
	width: 100%;
	height: 100%;
	transition: opacity 0.3s ease;
}

.menu-icon img:hover {
	opacity: 0.7;
}

@media (max-width: 1280px) {
	.header {
		width: calc(100% - 40px);
	}

	.menu-icon {
		display: block;
		z-index: 1001;
	}

	.nav-container {
		position: fixed;
		top: 0;
		right: -100%;
		width: 200px;
		background-color: #ffffff;
		flex-direction: column;
		padding: 80px 20px 20px;
		gap: 1.5rem;
		transition: right 0.3s ease;
		align-items: flex-start;
		border-radius: 20px;
	}

	.center-nav,
	.right-nav {
		width: 100%;
		text-align: center;
	}
	.right-nav {
		flex-direction: column;
	}
	.right-nav .icons-nav {
		flex-direction: row;
		justify-content: center;
		gap: 1rem;
	}

	.center-nav ul,
	.right-nav ul {
		flex-direction: column;
		gap: 1.5rem;
		width: 100%;
	}

	.center-nav ul li,
	.right-nav ul li {
		width: 100%;
	}

	.center-nav a,
	.right-nav a {
		display: block;
		width: 100%;
		border-bottom: 1px solid #EEEEEE;
		padding: 0.3rem 0;
		font-size: 1rem;
	}
	.menu-toggle:checked ~ .nav-container {
		right: 0;
	}
}