.hero {
	background: url(../../images/banners/hero.jpg) no-repeat center;
	background-size: cover;
	height: 500px;
	position: relative;
}

.hero-overlay {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.hero-content {
	color: #ffffff;
	text-align: center;
	padding-right: 120px;
	
}

.hero-content .subtitle {
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 500;
}

.hero-content .title {
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 3px;
	width: 388px;
	margin-top: 10px;
}

.hero-buttons {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	gap: 16px;
	font-weight: 500;
	font-size: 20px;
}

.hero-buttons .btn-outline {
	border: solid 2px #ffffff;
	border-radius: 30px;
	padding: 10px 40px;
	height: 48px;
	line-height: 24px;
	transition: background-color 0.3s, border 0.4s;
}
.hero-buttons .btn-filled {
	background-color: #ffffff;
	color: #6329A2;
	border-radius: 30px;
	padding: 10px 40px;
	height: 48px;
	transition: background-color 0.3s, color 0.4s;
}

.hero-buttons .btn-outline:hover {
	background-color: #6329A2;
	border-color: #6329A2 ;
}
.hero-buttons .btn-filled:hover {
	background-color: #6329A2;
	color:#ffffff;
}