.hero {
	background: url(../../images/banners/hero.jpg) no-repeat center;
	background-size: cover;
	height: 500px;
	position: relative;
	border-radius: 20px;
}

.hero-overlay {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.hero-content {
	color: #ffffff;
	text-align: center;
	padding-right: 120px;
	padding-top: 30px;
	
}

.hero-content .subtitle {
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 500;
}

.hero-content .title {
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 3px;
	width: 100%;
	margin-top: 10px;
}

.hero-buttons {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	gap: 16px;
}


.btn-outline {
	border: solid 2px #ffffff;
	transition: background-color 0.3s, border 0.4s;
	line-height: 24px;
}
.btn-filled {
	background-color: #ffffff;
	color: #6329A2;
	border-radius: 30px;
	padding: 10px 40px;
	height: 48px;
	transition: background-color 0.3s, color 0.4s;
}

.btn-outline:hover {
	background-color: #6329A2;
	border-color: #6329A2 ;
}
.btn-filled:hover {
	background-color: #6329A2;
	color:#ffffff;
}

@media (max-width: 768px ) {
	.hero {
	height: 650px;
	background-image: url(../../images/products/principal-grid.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
	}
	.hero-overlay {
		max-width: 330px;
		margin: 0 auto;
		padding: 0;
	}
	.hero-content {
		max-width: 330px;
		margin: 0 auto;
		padding: 0;
	}
	.hero-content .title {
		font-size: 20px;
	}
	.hero-content .subtitle {
		font-size: 1.25rem;
	}
	
	.btn-outline, .btn-filled {
		display: flex;
		font-size: 1.2rem;
		padding: 5px 20px ;
		align-items: center;
	}
} 